*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

body{
   white-space: nowrap;
}
#lista{
  display: inline-block;
  float: left;
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 1%;
  padding: 7px;
  width: 265px;
}
.lista {
  padding: 7px;
  width: 270px;
}

#listaNueva{
  width: 250px;
  height: 30px;
  padding: 4px;
  border-radius: 5px;
}

#listaNueva:hover{
  background-color: rgb(153, 255, 255);
  color: rgb(77, 121, 255);
  cursor: pointer;
}

#formulario{
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  display: none;
}

#inputed{
  border-color: #aaa;
  border-radius: 3px;
  border:1px solid #cdd2d4;
  padding: 5px;
  width: 100%;
}

#boton{
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px;
  margin: 1px;
  margin-top: 7px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
}

.nuevalsta{
  width: 250px;
  font-weight: bold;
  padding: 9px;
  border-radius: 5px;
  white-space: pre-line;
  word-break: break-word;
}

.nuevoDiv{
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  margin-left: 1%;
  margin-top: 2%;
}

.cuadro{
  width: 100%;
}

.areaTexto{
  resize: none;
  width: 100%;
  height: 80px;
  border-radius: 4px;

}

.boton{
  display: block;
  border-radius: 4px;
  padding: 5px;
}

.tarjetaUno{
  background-color: #ffffff;
  border-radius: 5px;
  margin: 8px 0;
  padding: 4px;
  white-space: pre-line;
  word-break: break-word;
}

.tarjetaDos{
  border-radius: 5px;
  border:1px solid black;
}


